.main {
    width: var(--widthComputer);
    margin: 4rem auto;
}

.warningText {
    height: 40vh;
    text-align: center;
    font-size: calc(24px + (48 - 24) * (100vw - 480px) / (1920 - 480));
}

@media (max-width: 1600px) {
    .main {
        width: var(--width1600);
    }
}

@media (max-width: 1250px) {
    .main {
        width: var(--width1250);
    }
}

@media (max-width: 900px) {
    .main {
        margin: 2rem auto;
    }
}